In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ISPU_after_preprocessing.csv')
df

            pm10        so2         co         o3        no2  kategori
0      75.000000   4.000000  23.000000  51.000000   9.000000       2.0
1      35.000000   4.000000  21.000000  34.000000   8.000000       3.0
2      57.000000   3.000000  50.000000  35.000000  12.000000       2.0
3      40.000000   2.000000  28.000000  32.000000  10.000000       3.0
4      51.000000   3.000000  34.000000  34.000000  15.000000       2.0
...          ...        ...        ...        ...        ...       ...
41623  27.410807  13.821614  17.643228  24.410807  11.178386       3.0
41624  59.882741  12.000000  24.000000  31.243365  17.369471       3.0
41625  31.569217   7.430783  30.000000  43.000000   4.046144       3.0
41626  25.074543  27.644726  12.859634  46.429817   7.570183       3.0
41627  14.000000   2.094982  10.547491  35.810035   4.094982       3.0

[41628 rows x 6 columns]

In [3]:
# Melihat deskripsi data yang bertipe numerik
df.describe()

,pm10,so2,co,o3,no2,kategori
count,41628.000000,41628.000000,41628.000000,41628.000000,41628.000000,41628.000000
mean,51.771441,18.329205,21.796223,104.550475,13.419671,1.500000
std,18.878204,11.434469,19.121298,72.701747,18.174807,1.118047
min,2.000000,0.000000,0.000000,1.000000,0.007065,0.000000
25%,38.900047,10.000000,12.754709,41.000000,6.602856,0.750000
50%,55.000000,16.798250,18.000000,85.000000,10.464645,1.500000
75%,64.094013,24.386227,26.000000,182.007275,15.000000,2.250000
max,134.000000,112.000000,213.000000,276.000000,213.000000,3.000000

In [4]:
X=df.iloc[:,:5]
y=df.iloc[:,5]

In [5]:
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

y_train_c=to_categorical(y_train, 4)
y_test_c=to_categorical(y_test, 4)

print("Jumlah Data Uji : "+str(len(X_test)))
print("Jumlah Data Latih : "+str(len(X_train)))

Jumlah Data Uji : 4163
Jumlah Data Latih : 37465

In [6]:
# Classifier dengan ANN

from keras.models import Sequential
from keras.layers import Input,Dense, Activation, Dropout,LSTM

ann = Sequential()
ann.add(Input(shape=(X_train.shape[1:])))
ann.add(Dense( 32, activation = 'relu' ))
ann.add(Dense( 16, activation = 'relu' ))
ann.add(Dense( 4, activation = 'softmax'))

ann.compile(loss='categorical_crossentropy', optimizer='Adam',metrics=['accuracy'])
print(ann.summary())
ann.fit(X_train, y_train_c, validation_data=(X_test, y_test_c), epochs=25,  batch_size=32)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                192

 dense_1 (Dense)             (None, 16)                528

 dense_2 (Dense)             (None, 4)                 68

=================================================================
Total params: 788
Trainable params: 788
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/25
1171/1171 [==============================] - 10s 6ms/step - loss: 1.0050 - accuracy: 0.6896 - val_loss: 0.6064 - val_accuracy: 0.7644
Epoch 2/25
1171/1171 [==============================] - 8s 6ms/step - loss: 0.5383 - accuracy: 0.7910 - val_loss: 0.5340 - val_accuracy: 0.7977
Epoch 3/25
1171/1171 [==============================] - 5s 4ms/step - loss: 0.4554 - accuracy: 0.8242 - val_loss: 0.4196 - val_accuracy: 0.8359
Epoch 4/25
1171/1171 [==============================] - 4s 4ms/step - loss: 0.3975 - accuracy: 0.8484 - val_loss: 0.3808 - val_accuracy: 0.8544
Epoch 5/25
1171/1171 [==============================] - 4s 3ms/step - loss: 0.3531 - accuracy: 0.8677 - val_loss: 0.3420 - val_accuracy: 0.8770
Epoch 6/25
1171/1171 [==============================] - 4s 3ms/step - loss: 0.3193 - accuracy: 0.8839 - val_loss: 0.4049 - val_accuracy: 0.8484
Epoch 7/25
1171/1171 [==============================] - 4s 3ms/step - loss: 0.2940 - accuracy: 0.8961 - val_loss: 0.3076 - val_accuracy: 0.8825
Epoch 8/25
1171/1171 [==============================] - 4s 3ms/step - loss: 0.2734 - accuracy: 0.9035 - val_loss: 0.3252 - val_accuracy: 0.8883
Epoch 9/25
1171/1171 [==============================] - 4s 3ms/step - loss: 0.2624 - accuracy: 0.9102 - val_loss: 0.2796 - val_accuracy: 0.8982
Epoch 10/25
1171/1171 [==============================] - 3s 3ms/step - loss: 0.2464 - accuracy: 0.9147 - val_loss: 0.2696 - val_accuracy: 0.9056
Epoch 11/25
1171/1171 [==============================] - 3s 3ms/step - loss: 0.2437 - accuracy: 0.9172 - val_loss: 0.2979 - val_accuracy: 0.8943
Epoch 12/25
1171/1171 [==============================] - 3s 3ms/step - loss: 0.2328 - accuracy: 0.9202 - val_loss: 0.2441 - val_accuracy: 0.9135
Epoch 13/25
1171/1171 [==============================] - 3s 3ms/step - loss: 0.2285 - accuracy: 0.9219 - val_loss: 0.2486 - val_accuracy: 0.9092
Epoch 14/25
1171/1171 [==============================] - 3s 3ms/step - loss: 0.2251 - accuracy: 0.9232 - val_loss: 0.2459 - val_accuracy: 0.9147
Epoch 15/25
1171/1171 [==============================] - 3s 3ms/step - loss: 0.2197 - accuracy: 0.9271 - val_loss: 0.2272 - val_accuracy: 0.9198
Epoch 16/25
1171/1171 [==============================] - 3s 3ms/step - loss: 0.2143 - accuracy: 0.9290 - val_loss: 0.2365 - val_accuracy: 0.9246
Epoch 17/25
1171/1171 [==============================] - 3s 3ms/step - loss: 0.2128 - accuracy: 0.9293 - val_loss: 0.2270 - val_accuracy: 0.9222
Epoch 18/25
1171/1171 [==============================] - 3s 2ms/step - loss: 0.2098 - accuracy: 0.9298 - val_loss: 0.2194 - val_accuracy: 0.9323
Epoch 19/25
1171/1171 [==============================] - 3s 3ms/step - loss: 0.2053 - accuracy: 0.9316 - val_loss: 0.2334 - val_accuracy: 0.9291
Epoch 20/25
1171/1171 [==============================] - 3s 2ms/step - loss: 0.2019 - accuracy: 0.9330 - val_loss: 0.2913 - val_accuracy: 0.8833
Epoch 21/25
1171/1171 [==============================] - 3s 3ms/step - loss: 0.2059 - accuracy: 0.9319 - val_loss: 0.2209 - val_accuracy: 0.9164
Epoch 22/25
1171/1171 [==============================] - 3s 3ms/step - loss: 0.2014 - accuracy: 0.9339 - val_loss: 0.2247 - val_accuracy: 0.9241
Epoch 23/25
1171/1171 [==============================] - 3s 3ms/step - loss: 0.1989 - accuracy: 0.9336 - val_loss: 0.2033 - val_accuracy: 0.9301
Epoch 24/25
1171/1171 [==============================] - 8s 7ms/step - loss: 0.1947 - accuracy: 0.9350 - val_loss: 0.2241 - val_accuracy: 0.9243
Epoch 25/25
1171/1171 [==============================] - 4s 3ms/step - loss: 0.1964 - accuracy: 0.9346 - val_loss: 0.2098 - val_accuracy: 0.9296

In [8]:
ann.save('ann.h5')